.App {
  text-align: center;
}

.selectedDashboard {
  padding-top: 25px;
}

.layout {
  padding-top: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  display: flex;
}

.page {
  background: #f9f9f9;
  width: 100%;
}

@media (max-width: 900px) {
.drawer {
  display: none !important
}
.appBar {
  width:  90% !important;
  margin-left: 10%;
}
.popover {
  display: show !important;
  width: 10%;
}
}
@media (min-width: 900px) {
.drawer {
  width: 20%;
}

.appBar {
  width:  80% !important;
  margin-left: 20%;
}
.popover {
  display: none !important
}
}
.active-drawer {
  background: #f4f4f4 !important;
}


.toolBar {
  padding-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
